.home-background {
  background-image: url('C:\Users\abhsh\Downloads\leave management\Ui\src\assets\home_bg.jpg'); 
  background-size: cover;
  background-position: center;
}
.lead {
  color: black;
}